@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');
@import "tailwindcss";

@theme {
  --color-tertiary-fixed: #eedfdc;
  --color-surface-variant: #ebe1da;
  --color-secondary: #47645c;
  --color-on-secondary: #ffffff;
  --color-on-primary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-on-surface: #f9efe8;
  --color-tertiary: #675c5a;
  --color-error: #ba1a1a;
  --color-on-background: #1f1b17;
  --color-surface-container-highest: #ebe1da;
  --color-surface: #fff8f5;
  --color-surface-container: #f6ece5;
  --color-secondary-fixed-dim: #adcdc3;
  --color-on-surface-variant: #50453b;
  --color-primary: #7f5629;
  --color-on-error: #ffffff;
  --color-surface-container-low: #fcf2eb;
  --color-tertiary-fixed-dim: #d2c3c1;
  --color-on-tertiary-container: #403735;
  --color-on-secondary-container: #4d6a62;
  --color-on-primary-container: #543106;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #ada09d;
  --color-secondary-container: #c9eadf;
  --color-primary-container: #cc9966;
  --color-primary-fixed: #ffdcbd;
  --color-on-tertiary-fixed: #211a18;
  --color-on-surface: #1f1b17;
  --color-inverse-primary: #f3bc86;
  --color-surface-dim: #e2d8d2;
  --color-surface-container-high: #f0e6e0;
  --color-on-primary-fixed-variant: #643e13;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed: #2c1600;
  --color-inverse-surface: #352f2b;
  --color-surface-tint: #7f5629;
  --color-primary-fixed-dim: #f3bc86;
  --color-on-secondary-fixed-variant: #2f4c44;
  --color-on-secondary-fixed: #02201a;
  --color-secondary-fixed: #c9eadf;
  --color-on-error-container: #93000a;
  --color-outline: #827569;
  --color-background: #fff8f5;
  --color-outline-variant: #d4c4b6;
  --color-on-tertiary-fixed-variant: #4e4543;
  --color-surface-bright: #fff8f5;

  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;

  --spacing-sm: 12px;
  --spacing-md: 24px;
  --spacing-xs: 4px;
  --spacing-margin: 32px;
  --spacing-lg: 40px;
  --spacing-gutter: 24px;
  --spacing-xl: 64px;
  --spacing-base: 8px;

  --font-label-md: "Plus Jakarta Sans", sans-serif;
  --font-body-md: "Plus Jakarta Sans", sans-serif;
  --font-h2: "Plus Jakarta Sans", sans-serif;
  --font-h3: "Plus Jakarta Sans", sans-serif;
  --font-h1: "Plus Jakarta Sans", sans-serif;
  --font-body-sm: "Plus Jakarta Sans", sans-serif;
  --font-label-lg: "Plus Jakarta Sans", sans-serif;
  --font-button: "Plus Jakarta Sans", sans-serif;
  --font-body-lg: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: var(--color-background);
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--color-on-surface);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #CC996644;
    border-radius: 10px;
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
